#button1 {
    -fx-margin: 12px;
    -fx-pref-height: 50px;
    -fx-pref-width: 120px;
    -fx-background-radius: 10;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #444, 5, 0, -5, -5);
    -fx-font-family: 'Damion';
    -fx-font-size: 16px;
    -fx-text-fill: rgb(161, 161, 161);
    -fx-cursor: hand;
    -fx-transition: 500ms;
}

#button1:hover {
    -fx-effect: dropshadow(gaussian, #888, 5, 0, -5, -5),
    dropshadow(gaussian, #222, 5, 0, 5, 5),
    innershadow(gaussian, #222, 5, 0, 5, 5);
    -fx-text-fill: #c5c5c5;
    -fx-transition: 500ms;
}

.text-field {
    -fx-border: none;
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    /*-fx-background-color: #e8e8e8;*/
    -fx-effect: dropshadow(gaussian, #ffffff, 1, 0, 1, 0),
    dropshadow(gaussian, #c5c5c5, -6, -6, 12, 0);
    -fx-font-size: medium;
    -fx-font-weight: bold;
    -fx-max-width: 200px;
}

.text-field:focused {
    -fx-focus-color: white;
    -fx-prompt-text: "Enter your message!";
}

.text-area {
    -fx-border: none;
    -fx-background-radius: 15px;
    -fx-padding: 3px;
    -fx-background-color: #ffffff;
    /*-fx-effect: dropshadow(gaussian, #ffffff, 1, 1, 1, 0),*/
    /*dropshadow(gaussian, #f5f5f5, -6, -6, 12, 0);*/
    -fx-font-size: medium;
    -fx-font-weight: bold;

}

.text-area:focused {
    -fx-focus-color: white;
    -fx-prompt-text: "Enter your message!";
}

.list-view {
    -fx-border: none;
    -fx-background-radius: 15px;
    -fx-padding: 3px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #ffffff, 1, 1, 1, 0),
    dropshadow(gaussian, #f5f5f5, -6, -6, 12, 0);
    -fx-font-size: medium;
    -fx-font-weight: bold;

}

.list-view:focused {
    -fx-focus-color: white;
    -fx-prompt-text: "Enter your message!";
}
.title-pane  {
    -fx-background-image: url('image/7.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;


}
.title-pane >.title {
    -fx-background-image: url('image/7.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15px;
    -fx-padding: 3px;
    -fx-font-size: 20;

}